$brand-primary : #49afa4;
$secondary-color : #34495e;

$background: #e8e8e8;

$random: random(3);

.btn-primary {
  background-color: $brand-primary;
  color: $background;
  border-color: $background;
}
.btn-primary.active {
  background-color: $secondary-color;
}
.btn-primary:hover {
  background-color: $secondary-color;
  color: $background;
  border-color: $secondary-color;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $background;
  color: $secondary-color
}