.btn-primary {
  background-color: #49afa4;
  color: #e8e8e8;
  border-color: #e8e8e8; }

.btn-primary.active {
  background-color: #34495e; }

.btn-primary:hover {
  background-color: #34495e;
  color: #e8e8e8;
  border-color: #34495e; }

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #e8e8e8;
  color: #34495e; }

body {
  background-color: #e8e8e8; }

.ds {
  padding-right: 80px; }

a {
  color: #49afa4;
  transition: all 1s; }
  a i {
    color: #49afa4; }

a:hover {
  color: #34495e; }

hr {
  border-top: 1px solid rgba(52, 73, 95, 0.1);
  width: 25%; }

h1, h2, h3, h4, h5, i, p {
  color: #34495e; }

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark p, .dark span, .dark i {
  color: #e8e8e8; }

p, strong, span {
  font-family: "Lato"; }

h1.big {
  font-family: 'Lora', serif;
  font-size: 70px; }

section.ds {
  height: 100%; }

#fullpage {
  opacity: 0;
  transition: all 1s; }

.topnavi {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-right: 80px;
  z-index: 98; }
  .topnavi ul {
    margin: 2px 0 0 0;
    padding: 0; }
    .topnavi ul li {
      padding: 0;
      display: inline;
      margin: 10px;
      text-transform: uppercase;
      font-weight: 300; }
      .topnavi ul li a {
        font-size: 10px;
        background-color: #e8e8e8;
        color: #34495e;
        padding: 5px; }
      .topnavi ul li a:hover {
        background-color: #49afa4;
        color: #e8e8e8; }
      .topnavi ul li .active {
        background-color: #49afa4;
        color: #e8e8e8;
        font-weight: 700; }

.navigation {
  position: fixed;
  border-left: 1px solid white;
  z-index: 99;
  right: 0;
  height: 100vh;
  width: 80px;
  top: 0;
  background-color: #49afa4;
  text-align: center; }
  .navigation .back {
    position: absolute;
    top: 67px;
    font-size: 25px;
    border-bottom: 1px solid #e8e8e8; }
  .navigation .currentPage {
    font-size: 12px;
    word-wrap: break-word;
    color: #e8e8e8;
    display: block;
    font-weight: 700;
    margin-bottom: 15px; }
  .navigation i.nav {
    font-size: 26px;
    border-bottom: 1px solid white;
    top: 0;
    position: absolute; }
  .navigation i.mobile {
    bottom: 0;
    font-size: 32px;
    border-top: 1px solid white;
    position: absolute; }
  .navigation i {
    width: 100%;
    color: white;
    padding: 20px 0;
    cursor: pointer;
    transition: all 1s;
    display: block; }
  .navigation span:hover i, .navigation span.active i, .navigation i:hover {
    background-color: #34495e;
    color: white; }
  .navigation .current {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }
    .navigation .current i {
      font-size: 24px;
      display: block; }

.naviContainer {
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  position: fixed;
  background-color: rgba(52, 73, 95, 0.9);
  color: white;
  padding-right: 80px; }
  .naviContainer ul {
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .naviContainer ul li {
      list-style: none; }
      .naviContainer ul li a {
        font-size: 50px;
        color: #e8e8e8; }
      .naviContainer ul li .active {
        color: #49afa4;
        font-weight: 700; }
  .naviContainer .imprint {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    padding-right: 50px; }
    .naviContainer .imprint ul {
      position: static; }
      .naviContainer .imprint ul li {
        display: inline;
        margin: 20px; }
        .naviContainer .imprint ul li a {
          font-size: 18px; }

.mobileContainer {
  border: 1px solid white;
  width: 450px;
  position: fixed;
  bottom: 0;
  right: 80px;
  background-color: #34495e;
  color: white;
  z-index: 3; }

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  margin-top: -69px; }
  .welcome h1 {
    font-size: 150px;
    font-family: 'Lora', serif;
    color: #49afa4; }
  .welcome p {
    font-size: 18px;
    color: #49afa4; }
  .welcome ul {
    margin-top: 30px;
    margin-left: 0;
    padding: 0; }
    .welcome ul li {
      display: inline;
      margin: 20px; }
      .welcome ul li a {
        color: #34495e;
        cursor: pointer; }
      .welcome ul li a:hover {
        text-decoration: none;
        color: #49afa4; }

.about {
  height: 100%; }

.area {
  margin-bottom: 80px; }

.box {
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.scroll {
  width: 100px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -83px;
  text-align: center; }
  .scroll img {
    width: 100%;
    margin-bottom: -15px; }
  .scroll span {
    font-size: 12px; }

.container .heading {
  font-size: 18px;
  text-transform: uppercase;
  margin: 20px 0; }

.profile {
  border-radius: 50%;
  width: 350px; }

.social {
  opacity: 0; }

.bar {
  margin-bottom: 40px; }
  .bar span {
    cursor: pointer;
    margin: 5px; }

.skills h5 {
  font-weight: 300;
  margin-bottom: 3px; }
.skills p {
  color: #e8e8e8;
  font-weight: 300;
  font-size: 12px;
  margin-top: 0; }

.height100vh {
  height: 100vh; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9; }

.map.overlay {
  z-index: 10;
  background-color: rgba(52, 73, 95, 0.8); }

.vita section {
  position: relative; }
.vita .col:first-child {
  border-right: 1px solid #49afa4; }
  .vita .col:first-child section::after {
    position: absolute;
    right: -24px;
    margin-top: -40px;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e8e8e8;
    border: 1px solid #49afa4;
    font-size: 40px;
    display: block;
    content: ''; }
.vita .col:nth-child(2) section::after {
  position: absolute;
  left: -24px;
  margin-top: -40px;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e8e8e8;
  border: 1px solid #49afa4;
  font-size: 40px;
  display: block;
  content: ''; }
.vita h2 {
  margin-bottom: 20px; }
.vita section {
  border: 1px solid #e8e8e8;
  padding: 10px 0;
  margin-bottom: 20px;
  transition: all 1s;
  cursor: pointer; }
  .vita section h5 {
    margin: 0; }
  .vita section p {
    margin: 0; }
.vita section:hover {
  background-color: rgba(73, 175, 164, 0.6); }
.vita section.active {
  background-color: rgba(73, 175, 164, 0.6); }
.vita section.active::after, .vita section:hover::after {
  background-color: #49afa4 !important;
  border: 1px solid #e8e8e8 !important;
  z-index: 99 !important; }

.certificates h1 {
  margin-bottom: 80px; }
.certificates h2 {
  font-weight: 300; }
.certificates .row {
  margin: 20px 0; }

.projects {
  margin-top: 70px; }
  .projects .pinned.col {
    height: 520px; }
    .projects .pinned.col figure {
      height: 420px; }
  .projects .col {
    height: 320px;
    margin: 10px 10px 20px 10px;
    min-width: 30%; }
    .projects .col figure {
      margin: 0;
      height: 220px;
      width: 100%;
      position: relative; }
      .projects .col figure .edit {
        opacity: 0;
        background-color: rgba(73, 175, 164, 0.8);
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 1s; }
        .projects .col figure .edit .btn {
          background: none;
          color: #e8e8e8;
          border: 1px solid currentColor;
          transition: all 1s;
          border-radius: 50%;
          padding: 20px 13px; }
        .projects .col figure .edit .btn:hover {
          background-color: #34495e; }
        .projects .col figure .edit a {
          position: relative;
          left: 50%;
          top: 50%;
          margin-top: -10px;
          transform: translate(-50%);
          cursor: pointer; }
      .projects .col figure img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .projects .col h5 {
      margin-top: 10px;
      margin-bottom: 5px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 18px; }
    .projects .col span {
      font-size: 12px; }
  .projects .col:hover figure .edit {
    opacity: 1; }

.languages, .frameworks {
  margin: 0;
  padding: 0; }
  .languages li, .frameworks li {
    display: inline;
    margin-right: 5px;
    background-color: #49afa4;
    color: #e8e8e8;
    padding: 5px;
    font-weight: 300;
    font-size: 8px;
    border-radius: 10px; }
  .languages li:nth-child(7):after, .frameworks li:nth-child(7):after {
    content: "\A";
    white-space: pre; }
  .languages li.frameworks, .frameworks li.frameworks {
    background-color: #34495e; }

.projectdetails h5 {
  margin: 30px 0 20px 0; }
.projectdetails .languages li, .projectdetails .frameworks li {
  font-size: 14px; }
.projectdetails .header img {
  width: 100%; }
.projectdetails .textArea {
  border-left: 1px solid #49afa4; }
.projectdetails .galerie {
  height: 100vh; }
  .projectdetails .galerie .imac {
    width: 100%; }
  .projectdetails .galerie .fp-slides {
    margin: 0;
    position: absolute;
    top: 5.1%;
    left: 3.9%;
    right: 3.9%;
    bottom: 27%;
    height: auto;
    width: auto;
    overflow: hidden;
    z-index: 999; }
  .projectdetails .galerie .fp-tableCell {
    height: auto !important; }
  .projectdetails .galerie .carousel-item {
    transition-property: opacity;
    opacity: 0; }
    .projectdetails .galerie .carousel-item img {
      width: 100%;
      height: 100%;
      position: relative; }
  .projectdetails .galerie .carousel-item.active {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
.projectdetails .process .col:first-child {
  background: none !important; }
  .projectdetails .process .col:first-child .circle {
    background-color: #49afa4; }
.projectdetails .process .col.active {
  background-image: url("../../img/arrow.png"); }
.projectdetails .process .col {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: top left; }
.projectdetails .process .circle.active {
  background-color: #49afa4; }
.projectdetails .process .circle {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100%;
  position: relative;
  transition: all 1s; }
.projectdetails .process .circle-border {
  border: 5px solid #e8e8e8; }
.projectdetails .process .circle-solid {
  background-color: #e8e8e8; }
.projectdetails .process .circle:before {
  content: "";
  display: block;
  padding-top: 100%; }
.projectdetails .process .circle-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center; }
.projectdetails .process .score-text {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  color: #e8e8e8;
  font-size: 20px;
  display: none; }
  .projectdetails .process .score-text strong {
    font-size: 40px; }
  .projectdetails .process .score-text p {
    font-size: 24px;
    margin-top: -10px;
    font-weight: 300; }

.contact ul {
  padding-left: 0;
  margin-left: 0; }
  .contact ul li {
    list-style: none;
    color: #34495e; }
.contact form {
  width: 80%; }
.contact .ng-submitted {
  display: none; }

.contactbox .profile {
  width: 120px;
  margin-bottom: 20px; }
.contactbox .social {
  margin-bottom: 20px; }

.fade {
  opacity: 1; }

.fade.ng-hide {
  opacity: 0; }

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: inline-block !important; }

.fade.ng-hide-remove {
  transition: all linear 700ms; }

.fade.ng-hide-add {
  transition: all linear 500ms; }

.mobileonly {
  display: none; }

.container:before,
.container:after,
.row:before,
.row:after {
  content: normal; }

@media (max-width: 800px) {
  .mobileonly {
    display: block; }

  h1.big {
    font-size: 30px; }

  h2 {
    font-size: 20px; }

  .topnavi {
    display: none; }

  .ds, .naviContainer {
    padding-right: 40px; }

  .scroll {
    margin-left: -63px; }

  .navigation {
    width: 40px; }

  .navigation i.mobile {
    display: none; }

  .container .row {
    margin-top: 5px !important; }
  .container .lead {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px; }

  .welcome {
    margin-top: 0; }
    .welcome h1 {
      font-size: 50px; }
    .welcome p {
      text-align: center; }
    .welcome ul li {
      text-align: center;
      display: block; }
      .welcome ul li a {
        font-size: 20px; }

  .profile {
    border-radius: 50%;
    width: 160px; }

  .projects .col {
    min-width: 70%;
    height: 290px !important;
    overflow: hidden; }
    .projects .col figure {
      height: 170px !important; }

  .projectdetails h5 {
    margin-top: 10px; }
  .projectdetails .header img {
    display: none; }
  .projectdetails .languages {
    margin-bottom: 10px; }
    .projectdetails .languages h5 {
      display: none; }
  .projectdetails .process .col {
    display: none; }
  .projectdetails .projectlink {
    margin-top: 20px; }
  .projectdetails .galeriebox {
    width: 90%; }
  .projectdetails .processmobile ul {
    padding: 0;
    margin: 0; }
  .projectdetails .processmobile li {
    list-style: none;
    margin-bottom: 7px; }
    .projectdetails .processmobile li strong {
      display: block;
      font-size: 17px; }

  .contact .box {
    padding: 35px 40px; }
  .contact form {
    width: 100%; }
  .contact label {
    display: none; }
  .contact .container .row {
    margin-top: 0 !important; }
  .contact .big {
    display: none; }

  .contactbox .social {
    margin-bottom: 5px; }
  .contactbox .profile {
    width: 45px; }

  .skills .col {
    min-width: 120px; }

  .scroll {
    display: none; } }
@media (max-width: 800px) and (min-width: 600px) {
  .projects .col {
    min-width: 45%;
    height: 290px !important; } }

/*# sourceMappingURL=style.css.map */
