doctype html
html(ng-app='ds')
       head(ng-controller='HeadCtrl')
              meta(charset='utf-8')
              title Dominik Speh Portfolio
              meta(name="description" content="Here you can find out all about Dominik Speh, his skills and projects.")
              meta(name='viewport', content='width=device-width, initial-scale=1.0')
              meta(name='viewport', content='width=device-width,initial-scale=1.0')
              meta(name="ROBOTS" content="NOINDEX,NOFOLLOW")
              link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
              link(href='https://fonts.googleapis.com/css?family=Lora:700', rel='stylesheet')
              link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet')

              link(rel='stylesheet', type='text/css', href='/scss/libs/jquery.fullpage.min.css')
              link(rel='stylesheet', type='text/css', href='/scss/libs/jquery.circliful.css')
              link(rel='stylesheet', type='text/css', href='/scss/libs/loading-bar.css')
              link(href='/scss/animate.css', rel='stylesheet')
              link(href='/scss/font-awesome.min.css', rel='stylesheet')
              link(href='/scss/ionicons.min.css', rel='stylesheet')

              //link(ng-href='/scss/{{deviceType}}/style.css', rel='stylesheet')
              link(ng-href='/scss/desktop/style.css', rel='stylesheet')


       body(ng-controller="GlobalCtrl")
              section.ds(ng-view)


       // scripts loaded here

       script(src='/bower_components/jquery/dist/jquery.min.js')
       script(src='/js/checkDevice.js')

       // ANGULAR
       script(src='/bower_components/angular/angular.min.js')
       script(src='/bower_components/angular-route/angular-route.js')
       script(src='/bower_components/angular-animate/angular-animate.js')
       script(src='/bower_components/angular-resource/angular-resource.js')
       script(src='/bower_components/angular-google-analytics/dist/angular-google-analytics.js')
       script(src='/bower_components/ngmap/build/scripts/ng-map.min.js')
       script(type='text/javascript', src='/js/libs/loading-bar.min.js')
       script(src='https://maps.googleapis.com/maps/api/js?key=#{process.env.GoogleMapsAPI}')





       // SOCKET
       script(src='/bower_components/angular-socket-io/socket.js')
       script(src='/socket.io/socket.io.js')

       // BOOTSTRAP
       script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
       script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

       script(type='text/javascript', src='/js/libs/jquery.fullpage.min.js')
       script(type='text/javascript', src='/js/libs/angular-fullpage.min.js')
       script(type='text/javascript', src='/js/libs/jquery.circliful.min.js')


       // ANGULAR CONTROLLERS & FILES
       script(src='/js/app.js')
       script(src='/js/controllers/index.js')
       script(src='/js/controllers/desktop.js')
       script(src='/js/controllers/smartphone.js')

       script(src='/js/custom/scripts.js')

       script.
              var socket = io();








