header.topnavi.container.text-center(ng-show="!showNavigation")

        .row
            .col
                ul
                    li
                        a(href="#", ng-class="{ active: isActive('/')}", ng-click="goToHome()") Home
                    li
                        a(href="#", ng-class="{ active: isActive('/ds/about')}", ng-click="goToAbout()") About me

                    li
                        a(href="#", ng-class="{ active: isActive('/ds/projects')}", ng-click="goToProjects()") Projects

                    //li
                        a(href="#") Blog
                    li
                        a(href="#",ng-click="goToContact()", ng-class="{ active: isActive('/ds/contact')}") Contact
aside.navigation

    i.fa.fa-bars.nav(ng-click="showNavigation = !showNavigation; showMobileNav = false", ng-class="{'active':showNavigation}")
    i.fa.fa-angle-left.back(ng-if="!isActive('/')", ng-click="historyBack()")


    .current(ng-controller="PcProjectDetailsCtrl")
        p.currentPage {{$route.current.title || project.name}}

        // ABOUT
        span(data-toggle='tooltip', data-placement='left', title='About', ng-if="isActive('/ds/about')", ng-click="moveTo(1)")
            i.fa.fa-male
        span(data-toggle='tooltip', data-placement='left', title='Skills', ng-if="isActive('/ds/about')", ng-click="moveTo(2)")
            i.fa.fa-cogs
        span(data-toggle='tooltip', data-placement='left', title='Vita', ng-if="isActive('/ds/about')", ng-click="moveTo(3)")
            i.fa.fa-list-ol
        span(data-toggle='tooltip', data-placement='left', title='Certificates', ng-if="isActive('/ds/about')", ng-click="moveTo(4)")
            i.fa.fa-certificate

        // Projects
        //span(data-toggle='tooltip', data-placement='left', title='Filter',ng-if="isActive('/ds/projects')")
            i.fa.fa-filter()


        // Project Details

        span.active(data-toggle='tooltip', data-placement='left', title='Project informations', ng-if="project.name",ng-click="moveTo(1)")
            i.fa.fa-info
        span(data-toggle='tooltip', data-placement='left', title='Process', ng-if="project.process.length > 0",ng-click="moveTo(2)")
            i.ion-loop


        span(data-toggle='tooltip', data-placement='left', title='Galerie', ng-if="project.galerie.length > 0 && project.process.length > 0",ng-click="moveTo(3)")
            i.ion-images

        span(data-toggle='tooltip', data-placement='left', title='Galerie', ng-if="project.galerie.length > 0 && project.process.length == 0",ng-click="moveTo(2)")
            i.ion-images




    i.fa.mobile.fa-mobile-phone(ng-click="showMobileNav = !showMobileNav ; showNavigation = false", ng-class="{'active':showMobileNav}")

.naviContainer.fade(ng-show="showNavigation")
    .row.justify-content-center.align-items-center.align-content-center
        ul
            li
                a(href="#", ng-class="{ active: isActive('/')}", ng-click="goToHome()") Home
            li
                a(href="#", ng-class="{ active: isActive('/ds/about')}", ng-click="goToAbout()") About me

            li
                a(href="#", ng-class="{ active: isActive('/ds/projects')}", ng-click="goToProjects()") Projects

            //li
                a(href="#") Blog
            li
                a(href="#",ng-click="goToContact()") Contact
    .imprint
        ul
            li
                a(href="/ds/imprint") Imprint
            li
                a(href="/ds/privacy") Privacy



.mobileContainer.fade.dark(ng-show="showMobileNav", ng-controller="PcCodeCtrl")

    .row.align-items-center.justify-content-around.align-content-center
        .col-12.col-md-auto
            img(src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2F{{host}}{{code}}%2F&chs=150x150&choe=UTF-8&chld=L|2')

        .col
            p {{ code1 }} {{ code2 }} {{ code3 }} {{ code4 }}


