.mobile(ng-controller='MobileCodeCtrl')
    section(ng-controller='MobileMainCtrl')
    .row.text-center
        .col-md-12(style="margin-top:70px")
            h1 Welcome.
            p How would you like to continue? You can watch the mobile website of my portfolio or you can control your desktop browser over your mobile device.


    .row.text-center(style="margin-top:50px")
        .col-md-12
            a.box(href="/ds/mobile") Show website

        .col-md-12
            a.box(href="/ds/remote") Control your desktop browser





