.about(ng-controller="PcAboutCtrl")


        #fullpage
            #section0.section
                .container.text-center

                    .row
                        .col-md-6.text-center.box.left

                            img.profile(src="/img/dominikspeh.jpg")

                        .col-md-6.box.right.text-center

                            h1
                                | Dominik Speh
                            p.lead mail@domi-speh.de

                            .social
                                .row
                                    .col
                                        a(href="https://www.xing.com/profile/Dominik_Speh" target="blank")
                                            i.fa.fa.fa-xing
                                    .col
                                        a.test(href="https://www.facebook.com/dominik.speh" target="blank")
                                            i.fa.fa.fa-facebook

                                    .col
                                        a.test(href="https://www.linkedin.com/in/dominik-speh-a6a5b6124/" target="blank")
                                            i.fa.fa-linkedin

                                    .col
                                        a.test(href="https://www.instagram.com/domspeh" target="blank")
                                            i.fa.fa-instagram

                            hr.social

                            .social
                                .row
                                    .col
                                        i.ion-ios-football(data-toggle="tooltip" data-placement="top" title="VfB Stuttgart")
                                    .col
                                        i.ion-ios-americanfootball(data-toggle="tooltip" data-placement="top" title="Denver Broncos")

                                    .col
                                        i.fa.fa-cutlery(data-toggle="tooltip" data-placement="top" title="Cooking")

                                    .col
                                        i.ion-ios-pint(data-toggle="tooltip" data-placement="top" title="German beer")
                                    .col
                                        i.ion-music-note(data-toggle="tooltip" data-placement="top" title="Making music")
                                    .col
                                        i.ion-videocamera(data-toggle="tooltip" data-placement="top" title="Recording and cutting")
                                    .col
                                        i.ion-social-apple(data-toggle="tooltip" data-placement="top" title="Apple")









            #section1.section

                .container.text-center.skills
                    h1.big Skills
                    .bar
                        span.btn.btn-primary.btn-sm(ng-click="showSkill(0)",ng-class="{'active':activeSkill==0}") Languages
                        span.btn.btn-primary.btn-sm(ng-click="showSkill(1)",ng-class="{'active':activeSkill==1}") Frameworks
                        span.btn.btn-primary.btn-sm(ng-click="showSkill(2)",ng-class="{'active':activeSkill==2}") Others

                    .row.languages.flex-wrap(ng-show="activeSkill == 0")

                        .col.text-cente
                            #skill-js.circle()
                            h5 Javascript
                            p 9 / 10

                        .col.text-center
                            #skill-php.circle()
                            h5 PHP
                            p 6 / 10

                        .col.text-center
                            #skill-html.circle()
                            h5 HTML
                            p 10 / 10

                        .col.text-center
                            #skill-css.circle()
                            h5 CSS
                            p 10 / 10


                    .row.frameworks(ng-show="activeSkill == 1")
                        .col.text-center
                            #skill-node.circle()
                            h5 Node.js
                            p 7 / 10

                        .col.text-center
                            #skill-angular.circle()
                            h5 Angular.js
                            p 5 / 10

                        .col.text-center
                            #skill-ionic.circle()
                            h5 Ionic
                            p 4 / 10

                        .col.text-center
                            #skill-react.circle()
                            h5 React
                            p 2 / 10

                    .row.others(ng-show="activeSkill == 2")
                        .col.text-center
                            #skill-design.circle()
                            h5 Web Design
                            p 9 / 10

                        .col.text-center
                            #skill-ux.circle()
                            h5 UX
                            p 7 / 10

                        .col.text-center
                            #skill-photo.circle()
                            h5 Photo
                            p 7 / 10

                        .col.text-center
                            #skill-music.circle()
                            h5 Music
                            p 5 / 10



            #section2.section(ng-controller="PcMapCtrl")
                ng-map.map.gmap(zoom="10",center='[{{coordinates.lat}}, {{coordinates.lng}}]')
                    marker(position='[{{coordinates.lat}}, {{coordinates.lng}}]')

                .overlay.map.dark
                    .container.text-center
                        .row.flex-column.justify-content-center.height100vh
                            h1.big Vita


                            .row.vita.align-content-center.align-items-center.flex-wrap
                                .col
                                    h2
                                        i.fa.fa-graduation-cap
                                        |  School

                                    section(ng-click="setCoordinates('48.016016','9.250637')",ng-class="{'active': coordinates.lng == '9.250637' }")
                                        h5 1998 - 2002
                                        p Sophie-Scholl-Schule Krauchenwies
                                        p
                                            strong Grundschule

                                    section(ng-click="setCoordinates('48.091292','9.228612')",ng-class="{'active': coordinates.lng == '9.228612' }")

                                        h5 2002 - 2011
                                        p Hohenzollern-Gymnasium Sigmaringen
                                        p
                                            strong Abitur

                                    section(ng-click="setCoordinates('49.006890','8.403653')",ng-class="{'active': coordinates.lng == '8.403653' }")

                                        h5 2011 - 2013
                                        p Carl-Hofer-Schule Karlsruhe
                                        p
                                            strong Ausbildung Mediengestalter

                                    section(style="margin-top:127px",ng-click="setCoordinates('49.348915','9.129383')",ng-class="{'active': coordinates.lng == '9.129383' }")

                                        h5 Apr. 2014 - today
                                        p DHBW Mosbach
                                        p
                                            strong Bachelor of Arts - Onlinemedia




                                .col
                                    h2
                                        i.fa.fa-briefcase
                                        |  Work


                                    section(style="margin-top: 233px",ng-click="setCoordinates('49.006890','8.403653')",ng-class="{'active': coordinates.lng == '8.403653' }")
                                        h5 Aug. 2011 - Jun. 2013
                                        p 2k kreativkonzept
                                        p
                                            strong
                                                | Ausbildung Mediengestalter

                                    section(ng-click="setCoordinates('49.006890','8.403653')",ng-class="{'active': coordinates.lng == '8.403653' }")

                                        h5 Jul. 2013 - Apr. 2014
                                        p 2k kreativkonzept
                                        p
                                            strong
                                                | Web Developer

                                    section(ng-click="setCoordinates('49.133735','10.063357')",ng-class="{'active': coordinates.lng == '10.063357' }")

                                        h5 Apr. 2014 - today
                                        p Werbeagentur querformat
                                        p
                                            strong Dualer Student - Web/App Developer
            #section3.section.certificates
                .container.text-center
                    h1.big
                        i.fa.fa-certificate
                        br
                        |  Certificates / Qualifications

                    .row
                        .col
                            h2 Ausbilder-Eignungsprüfung 2017

                    .row
                        .col
                            h2 SPSS Workshop 2017

                    .row
                        .col
                            h2 HTML5 / Angular / JavaScript Days Berlin 2016

                    .row
                        .col
                            h2 Musikmentoren Ausbildung





.scroll(ng-show="connected == false")
    img.scrolldown(src="/img/scrolldown.gif")
    span SCROLL


include layout/navigation

    script.
        //ENABLE TOOLTIPS
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        if ($('html').hasClass('fp-enabled')) {
            $.fn.fullpage.destroy('all');
        }



        function draw(idwhere, idwhat, options) {
            $("#" + idwhat).remove();
            $("#" + idwhere).append('<div id="' + idwhat + '"></div>');
            $.each(options, function (i, val) {
                $("#" + idwhat).attr('data-' + i, val)
            });
            $("#" + idwhat).circliful();
        }

        function drawAll() {
            draw('skill-js', 'a', {
                animation: 1,
                animationStep: 6,
                percent: 88,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "JS",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-php', 'b', {
                animation: 1,
                animationStep: 6,
                percent: 60,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "PHP",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-html', 'c', {
                animation: 1,
                animationStep: 6,
                percent: 100,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "HTML",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-css', 'd', {
                animation: 1,
                animationStep: 6,
                percent: 100,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "CSS",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })

            draw('skill-node', 'e', {
                animation: 1,
                animationStep: 6,
                percent: 70,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "Node.js",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-angular', 'f', {
                animation: 1,
                animationStep: 6,
                percent: 50,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "Angular.js",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-ionic', 'g', {
                animation: 1,
                animationStep: 6,
                percent: 40,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "Ionic",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-react', 'h', {
                animation: 1,
                animationStep: 6,
                percent: 20,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "React",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })

            draw('skill-design', 'i', {
                animation: 1,
                animationStep: 6,
                percent: 90,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "Design",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-ux', 'j', {
                animation: 1,
                animationStep: 6,
                percent: 70,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "UX",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-music', 'k', {
                animation: 1,
                animationStep: 6,
                percent: 50,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "Music",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
            draw('skill-photo', 'l', {
                animation: 1,
                animationStep: 6,
                percent: 70,
                foregroundBorderWidth: 7,
                backgroundBorderWidth: 1,
                replacePercentageByText: "",
                foregroundColor: '#34495e',
                backgroundColor: '#e8e8e8',
                noPercentageSign: true,
                fontColor: '',
                iconColor: '#e8e8e8',
                icon: 'f004',
                text: "Photo",
                textColor: '#e8e8e8',
                textStyle: 'margin-top:20px',
                iconSize: '20',
                iconPosition: 'top'
            })
        }







