.about(ng-controller="PcAboutCtrl")
    #fullpage
        #section0.section
            h1 About me

        #section1.section
            h1 Skills

        #section2.section
            h1 Vita

    include layout/navigation



