div(ng-controller='PcCodeCtrl')
    div(ng-controller='PcMainCtrl')


        include layout/navigation

        .container
            .row.boxes
                .col-12.col-md-auto.text-center.box
                    img.profile(src="/img/dominikspeh.jpg")
                .col.text-center.box
                    h1 Dominik Speh
                    p.lead mail@domi-speh.de


