
.contact(ng-controller="PcContactCtrl")

    .container
        .row(style="margin-top:70px")
            .col.box.text-center
                h1 Impressum
                br
                h2 Angaben gemäß § 5 TMG:

                p
                    | Dominik Speh
                    br
                    | Haundorfer Straße 18
                    br
                    | 74594 Kreßberg
                br
                h2 Kontakt:
                table
                    tr
                        td Telefon:
                        td +491727659891
                    tr
                        td E-Mail:
                        td mail@domi-speh.de






include layout/navigation

script.

    if ($('html').hasClass('fp-enabled')) {
        $.fn.fullpage.destroy('all');
    }