div(ng-controller='PcCodeCtrl')
    div(ng-controller='PcMainCtrl')


        include layout/navigation

        .welcome
            h1 Welcome.
            p Here you can find out all about me, my skills and my projects.



            ul
                li
                    a(href="#", ng-class="{ active: isActive('/ds/about')}", ng-click="goToAbout()") About me

                li
                    a(href="#",ng-click="goToProjects()") Project
                li
                    a(href="#",ng-click="goToContact()") Contact

