
.contact(ng-controller="PcContactCtrl")

    .container
        h1.big Privacy
        .row.flex-wrap



include layout/navigation

script.

    if ($('html').hasClass('fp-enabled')) {
        $.fn.fullpage.destroy('all');
    }