.projects(ng-controller="PcProjectsCtrl")

    .container(style="width:100%")
        .row

        .row
            .col(ng-repeat="project in allProjects")
                figure
                    .edit
                        a.btn.btn-primary(ng-href="projects/{{project.alias}}") Show
                    img(ng-src="{{project.thumbpath}}")
                h5 {{project.name}}
                span {{project.type}}
                span.competences(ng-repeat="competence in project.competence") {{competence}}

                ul.languages
                    li(ng-repeat="language in project.languages") {{language}}
                    li.frameworks(ng-repeat="framework in project.frameworks") {{framework}}



script.
    if ($('html').hasClass('fp-enabled')) {
        $.fn.fullpage.destroy('all');
    }

include layout/navigation


