.projectdetails(ng-controller="PcProjectDetailsCtrl")
    #fullpage(ng-controller="PcProjectDetailsFullpageCtrl")
        #section0.section

            .container
                h1.big.text-center {{project.name}}

                .row(style="margin-top:70px")
                    .col-md-8.header
                        img(ng-src="{{project.image}}")
                    .col-md-4.text-center
                        h5 {{project.type}}
                        p.lead {{project.time}}
                        hr
                        p {{project.description}}

                        hr
                        .website(ng-if="project.languages")

                            ul.languages(ng-if="project.languages.length > 0")
                                h5 Languages
                                li(ng-repeat="language in project.languages") {{language}}


                            ul.languages(ng-if="project.frameworks.length > 0")
                                h5 Frameworks & Tools
                                li.frameworks(ng-repeat="framework in project.frameworks") {{framework}}



        #section1.section.dark(ng-if="project.process.length > 0")
            h1.big.text-center Workflow
            .row.process.text-center.align-content-center.align-items-center.justify-content-center(style="margin-top:70px")
                .col.dark(ng-repeat="process in project.process")
                    .circle.circle-border
                        .circle-inner
                            .score-text

                                p
                                    strong {{$index+1}}.
                                p {{process}}
            .row.processmobile.text-center.mobileonly
                .col.dark
                    ul
                        li(ng-repeat="process in project.process")
                            span
                                strong {{$index+1}}.
                            span {{process}}



        #section2.section(ng-if="project.galerie.length > 0")
            .row.galerie.text-center.align-content-center.align-items-center.justify-content-center
                .col-md-1
                .col-md-8.galeriebox.align-content-center.flex-column.align-items-center.justify-content-center
                    img.imac(src="/img/imac.png")
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                        .carousel-inner(role='listbox')
                            .carousel-item(ng-repeat="galerie in project.galerie", ng-class="{'active': $index == 0 }")
                                img(ng-src="{{galerie}}")


                .col-md-3.projectlink
                    h4 {{project.type}}
                    p.lead {{project.name}}
                    hr
                    a.btn-primary.btn(ng-href="{{project.url}}", target="blank") Show live




    .scroll(ng-show="project.galerie.length > 0")
        img.scrolldown(src="/img/scrolldown.gif")
        span SCROLL


include layout/navigation

script.
