.projectdetails(ng-controller="PcProjectDetailsCtrl")
    #fullpage
        #section0.section

            .container
                h1.big.text-center {{project.name}}


                .row(style="margin-top:30px")
                    .col-md-8.header
                        img(ng-src="{{project.image}}")
                    .col-md-4.text-center
                        h5 {{project.type}}
                        p.lead {{project.time}}
                        hr
                        p {{project.description}}

                        hr
                        .website(ng-if="project.languages")

                            ul.languages(ng-if="project.languages.length > 0")
                                h5 Languages
                                li(ng-repeat="language in project.languages") {{language}}


                            ul.languages(ng-if="project.frameworks.length > 0")
                                h5 Frameworks & Tools
                                li.frameworks(ng-repeat="framework in project.frameworks") {{framework}}
                        a.languages.text-center.btn-sm.btn.btn-primary.github(ng-href="{{project.github}}" target="blank",ng-if="project.github")
                            i.fa.fa-github
                            | Show on github




        #section1.section.dark(ng-if="project.process.length > 0")
            h1.big.text-center Workflow
            .row.process.text-center.align-content-center.align-items-center.justify-content-center(style="margin-top:70px")
                .col.dark(ng-repeat="process in project.process")
                    .circle.circle-border
                        .circle-inner
                            .score-text

                                p
                                    strong {{$index+1}}.
                                p {{process}}
            .row.processmobile.text-center.mobileonly
                .col.dark
                    ul
                        li(ng-repeat="process in project.process")
                            span
                                strong {{$index+1}}.
                            span {{process}}



        #section2.section(ng-if="project.galerie.length > 0 && project.type =='Website'")
            .row.galerie.text-center.align-content-center.align-items-center.justify-content-center
                .col-md-1
                .col-md-8.galeriebox.align-content-center.flex-column.align-items-center.justify-content-center
                    img.imac(src="/img/imac.png")
                    .slider.carousel.slide
                        .carousel-inner(role='listbox')
                            .carousel-item(ng-repeat="galerie in project.galerie", ng-class="{'active': $index == 0 }")
                                img(ng-src="{{galerie}}")


                .col-md-3.projectlink
                    h4 {{project.type}}
                    p.lead {{project.name}}
                    hr
                    a.btn-primary.btn(ng-href="{{project.url}}", target="blank") Show live

        #section3.section(ng-if="project.galerie.length > 0 && project.type !='Website'")
            .row.galerie.text-center.align-content-center.align-items-center.justify-content-center
                .col-md-1
                .col-md-8.align-content-center.flex-column.align-items-center.justify-content-center
                    .row.boringRow
                        .col-md-12(ng-repeat="galerie in project.galerie", ng-if="project.galerie.length == 1")
                            img(ng-src="{{galerie}}")
                        .col-md-6(ng-repeat="galerie in project.galerie", ng-if="project.galerie.length > 1")
                            img(ng-src="{{galerie}}")



                .col-md-3.projectlink
                    h4 {{project.type}}
                    p.lead {{project.name}}
                    hr
                    a.btn-primary.btn(ng-href="{{project.url}}", target="blank" ng-if="project.url") Show live





    .scroll(ng-show="project.galerie.length > 0")
        img.scrolldown(src="/img/scrolldown.gif")
        span SCROLL


include layout/navigation

script.
    if ($('html').hasClass('fp-enabled')) {
        $.fn.fullpage.destroy('all');
    }

    $(".galeriebox,.projectlink").hide();
    $(".languages").css("opacity", "0");

    $('#fullpage').fullpage({
        sectionsColor: ['#e8e8e8', '#34495e', '#ffffff', '#e8e8e8'],

        afterLoad: function (anchorLink, index) {
            $("#fullpage").css("opacity", "1");
            $(".scroll").show();
            $(".process .col").clearQueue();
            $(".languages").css("opacity", "0");
            $(".col, .col .circle").removeClass("active");
            $(".circle .score-text").hide();


            if (index == 1) {

                setTimeout(function () {
                    $(".galeriebox,.boringRow,.projectlink").hide();
                    $(".languages").css("opacity", "1");
                    $('.languages').animateCss('fadeInUp');

                }, 1000)


            }
            if (index == 2) {
                $(".process .col").each(function (index) {
                    $(this).delay(800 * index).queue(function (next) {
                        $(this).find(".circle").addClass("active");
                        $(this).find(".circle .score-text").fadeIn();

                        $(this).addClass("active");

                        next();
                    });

                });
            }
            if (index == 3 || $(".section").length == 2) {
                $(".galeriebox,.boringRow,.projectlink").show();
                $('.galeriebox, .boringRow').animateCss('fadeInLeft');
                $('.projectlink').animateCss('fadeInUpBig');
            }

            index = index + 1

            $(".current span").removeClass("active");
            $(".current span:nth-child(" + index + ")").addClass("active");


        },
        onLeave: function (index, nextIndex, direction) {

            if (index == 3) {
                $('.galeriebox').animateCss('fadeOutLeft');
                $('.projectlink').animateCss('fadeOutDownBig');
            }

        }


    });

